
  agm-map {
    height: 300px;
  }
.maps{
 width:100%;
  height:400px;
}

  .missing-ico{
    height: 50px;
    margin-top: -20px;
  }

  .missing-text{
    color: #a6a6a6;
    font-size: 30px;
    font-weight: bold;
  }
