
<div class="container text-right">
  <h4>بيانات الحملة</h4>
  <div class="row">
    <div class="col-8">
      <div class="form-group">
        <label for="name">اسم الحملة</label>
        <input type="text" class="form-control" id="name">
      </div>

      <div class="form-group">
        <label for="country">الدولة</label>
        <select id="country" class="form-control">
          <option>أندونيسيا</option>
          <option>الفلبين</option>
          <option>أمريكا</option>
          <option>ماليزيا</option>
          <option>بريطانيا</option>
        </select>
      </div>

      <div class="form-group">
        <label for="country">الدولة</label>
        <select id="country" class="form-control">
          <option>جاكرتا</option>
          <option>بونشاك</option>
          <option>بالي</option>
        </select>
      </div>

      <div class="form-group">
        <label for="phone">عنوان مقر الحملة</label>
        <input type="text" class="form-control" id="phone">
      </div>

      <div class="form-group">
        <label for="phone">رقم الهاتف</label>
        <input type="text" class="form-control" id="phone">
      </div>

      <div class="form-group">
        <label for="mobile">رقم الجوال</label>
        <input type="text" class="form-control" id="mobile">
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">الإيميل</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>

      <button class="btn btn-danger">التالي</button> <span style="text-decoration: underline; color: #cacaca; margin-right: 15px">تجاهل</span>
      <br><br>
    </div>
  </div>
</div>

