<!--The content below is only a placeholder and can be replaced.-->


<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->

<body>
<div class="container-fluid full-height " >
  <div class="row full-height" >
    <div class="col-md-3 full-height side-menu" >
      <!-- SIDE MENU CONTENT GOES HERE -->
      <br>
      <br>
      <br>
      <p class="color-white big-text text-center"><img src="./assets/imgs/logo.jpg" class="menu-logo"> <span class="color-red">حجّ</span> كونّكت</p>
      <br>
      <hr class="gray-hr">
      <h4 class="color-white text-right">حملة النــــــــور</h4>
      <div class="groups text-right">
        <p>مجموعة أ</p>
        <p>مجموعة ب</p>
        <p>مجموعة ج</p>
        <p>مجموعة د</p>
        <p>مجموعة هـ</p>
      </div>
      <br>
      <button class="btn btn-danger btn-block" routerLink="members">إضافة عضو</button>
      <br>
      <button class="btn btn-outline-light btn-block" routerLink="geo">إعدادات الحملة</button>
      <!-- END OF SIDE MENU CONTENT -->
    </div>
    <div class="col-md-9 no-padding">
      <!-- TOP MENU CONTENT GOES HERE -->
      <div class="top-menu">
        <div class="top-menu-item text-center">
          <img src="./assets/imgs/alert.jpg" class="menu-item-img">
          <br>
          <br>
          <p>اعدادات الحساب</p>
        </div>

        <div class="top-menu-item text-center">
          <img src="./assets/imgs/alert.jpg" class="menu-item-img">
          <br>
          <br>
          <p>المساعدة</p>
        </div>

        <div class="top-menu-item text-center">
          <img src="./assets/imgs/alert.jpg" class="menu-item-img">
          <br>
          <br>
          <p>التنبيهات</p>
        </div>
      </div>
      <!-- END OF TOP MENU CONTENT -->
      <div class="search">
        <span>البحث</span> <input type="text" class="" name="">
      </div>

      <!-- MAIN CONTENTS GOES HERE -->
      <div class="container text-center  " style="min-height: 800px" >

      <router-outlet  ></router-outlet>
      </div>
      <!-- END OF MAIN CONTENT -->
    </div>
  </div>
</div>
</body>
